quarkus.http.cors=true
quarkus.http.cors.origins=*
quarkus.http.cors.methods=GET, POST, PUT, DELETE, OPTIONS
quarkus.http.port=9553
quarkus.http.auth.permission.bearer.paths=/
quarkus.http.auth.permission.bearer.policy=authenticated
quarkus.http.auth.permission.bearer.auth-mechanism=bearer

quarkus.datasource.db-kind = mysql
quarkus.datasource.username = root
quarkus.datasource.password = 
quarkus.datasource.jdbc.url = 
mp.jwt.verify.publickey.location=E://projects/java/publicKey.pem

quarkus.http.body.uploads-directory=C:\\Users\\pc\\AppData\\Local\\Temp
#C://Windows/TEMP

isobit.upload-dir = E://wildfly/bin/.data
quarkus.hibernate-orm.dialect=gob.regionancash.bpm.MySQLCustomDialect
quarkus.hibernate-orm.packages=org.isobit.directory.model,org.isobit.app.model,gob.regionancash.rh.model,gob.regionancash.bpm.model,io.quarkus.hibernate.orm.panache

quarkus.hibernate-orm."isobit".datasource=<default>
quarkus.hibernate-orm."isobit".packages=org.isobit.directory.model,org.isobit.app.model