quarkus.http.cors=true
quarkus.http.port=9553
quarkus.http.auth.permission.bearer.paths=/
quarkus.http.auth.permission.bearer.policy=authenticated
quarkus.http.auth.permission.bearer.auth-mechanism=bearer

quarkus.datasource.db-kind = mysql
quarkus.datasource.username = root
quarkus.datasource.password = root
quarkus.datasource.jdbc.url = jdbc:mysql://localhost:3306/production?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=America/Bogota

mp.jwt.verify.publickey.location=E://projects/java/publicKey.pem

quarkus.http.body.uploads-directory=C:\\Users\\pc\\AppData\\Local\\Temp
#C://Windows/TEMP

isobit.upload-dir = E://wildfly/bin/.data
quarkus.hibernate-orm.dialect=gob.regionancash.bpm.MySQLCustomDialect
quarkus.hibernate-orm.packages=org.isobit.app.jpa,org.isobit.directory.jpa,org.isobit.directory.jpa,gob.regionancash.bpm.jpa,gob.regionancash.rh.jpa